@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.background
{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.grid{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;

}

.head{
    font-family: Akaya Kanadaka;
}

.foot{
    font-family: Permanent Marker;
}